  <div class="cardbox">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{recipe?.name}}</mat-card-title>
        <mat-card-subtitle>{{recipe?.preparationTime}} minutes</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src={{recipe?.routingImage}} alt="Photo of a Shiba Inu">
      
      <mat-card-content>difficulty level {{""|difficultyLevel:recipe?.difficultyLevel}}</mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>READ MORE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right" viewBox="0 0 16 16">
          <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
        </svg>
        </button>
      </mat-card-actions>
     

    </mat-card>
  
  </div>

